{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "sanity/typescript",
    "sanity/react",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "overrides": [
    {
      "files": ["*.{ts,tsx}"],
      "rules": {
        "no-undef": 0,
        "dot-notation": 0
      }
    }
  ]
}
